USE [master]
GO
/****** Object:  Database [ScanSea]    Script Date: 21/04/2021 10:51:54 ******/
CREATE DATABASE [ScanSea]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'scansea', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TOM\MSSQL\DATA\scansea.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'scansea_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TOM\MSSQL\DATA\scansea_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScanSea].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScanSea]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] NOT NULL,
	[key] [varchar](255) NULL,
 CONSTRAINT [PK__permissi__3213E83F1FD694CB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions_utilisateurs]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions_utilisateurs](
	[user_code] [varchar](20) NULL,
	[permission_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[societes]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[societes](
	[id] [int] NOT NULL,
	[nom] [varchar](255) NULL,
	[connectionString] [varchar](255) NULL,
 CONSTRAINT [PK__societes__3213E83F42C30B1E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilisateurs]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilisateurs](
	[code] [varchar](20) NOT NULL,
	[id_societe] [int] NOT NULL,
	[id_agence] [int] NULL,
 CONSTRAINT [PK_access_codes] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[utilisateurs] ADD  DEFAULT ((0)) FOR [id_societe]
GO
/****** Object:  StoredProcedure [dbo].[GetCodes]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCodes](
	@Code varchar(20)
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM utilisateurs WHERE code=@Code;
END
GO
/****** Object:  StoredProcedure [dbo].[GetConnectionString]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConnectionString] (
	@IdSociete int
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT connectionString FROM societes WHERE id=@IdSociete;
END
GO
/****** Object:  StoredProcedure [dbo].[GetIdSociete]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdSociete](
	@Code varchar(20)
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT id_societe FROM utilisateurs WHERE code=@Code;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPermissions]    Script Date: 21/04/2021 10:51:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPermissions](
	@Code varchar(20)
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT permission_id FROM permissions_utilisateurs WHERE user_code=@Code;
END
GO
USE [master]
GO
